.container {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container.fullScreen {
  margin-top: -10px;
}
.container h1 {
  width: 100%;
  color: black;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.container h1:not(:first-of-type) {
  margin-top: 10px;
  margin-bottom: 0;
}

.imageRow {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.imageRow > div {
  width: 49%;
  height: 90%;
  position: relative !important;
  min-width: 260px;
}

.jobHistory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.jobExperience {
  max-width: 900px;
  width: 100%;
}
.jobExperience h2 {
  margin-bottom: 0;
  margin-top: 15px;
}
@media print {
  .jobHistory {
    padding: 0 30px;
  }
}
@media(min-width: 1200px) {
  .jobExperience {
    margin-left: 20px;
  }
}

.employmentDetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.employmentDetails > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}
.employmentDetails h3 {
  margin: 8px 0 8px 12px;
  color: #003066;
}
.employmentDetails p {
  color: #999;
  margin: 0;
}

.employmentAchievement {
  /* padding-left: 10px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1em;
}
.employmentAchievement::before {
  content: '✔';
  color: #0070f3;
  margin-right: 16px;
}
.keyword {
  color: #003066;
  font-weight: bold;
}
.employmentAchievement > p {
  margin: 4px 0;
}

.summary {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  flex-wrap: wrap;
}
.summaryHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.summaryText {
  width: 100%;
  margin-top: 0;
}
.summaryText > p {
  margin: 8px 50px 8px 0;
}
.summaryText > p:first-of-type {
  margin-top: 0;
}
.summaryText > h2 {
  margin-top: 25px;
  margin-bottom: 8px;
}

.skills {
  width: 100%;
  margin-bottom: 15px;
}
.skillsTitle {
  margin: 0 0 5px 0;
}
@media(min-width: 1200px) {
  .skills, .summaryText {
    max-width: 400px;
  }
  .summary {
    justify-content: space-between;
  }
}
@media (min-width: 650px) {
  .skills {
    width: 50%;
  } 
  .summaryText {
    width: 50%;
  }
  .summary {
    flex-wrap: nowrap;
  }
}
@media print {
  .skills {
    width: 40% !important;
  }
  .summaryText {
    width: 60% !important;
  }
}

.skills table {
  width: 100%;
}
.skills th {
  color: black;
  font-size: 1.5em;
  padding-bottom: 15px !important;
}
.skills p, .skills h5 {
  margin: 0;
}
.skills tr > td,
.skills tr > th {
  text-align: center;
  padding-bottom: 4px;
}
.skills tr > td:first-of-type,
.skills tr > th:first-of-type {
  text-align: left;
}
.skills tr > td:last-of-type,
.skills tr > th:last-of-type {
  text-align: right;
}
.skills tr > td h5 {
  color: #003066;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.skills tr > td h5 > div {
  margin-right: 8px !important;
}

.achievements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.achievement {
  margin: 0px 5px;
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.achievements.fullScreen {
  flex-direction: row;
  flex-wrap: wrap;
}
.achievement.fullScreen {
  width: 47%;
}
.achievementText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-left: 12px;
}
.achievement p {
  margin: 0;
  color: #999;
  font-size: 0.75em;
}
.achievement h5 {
  margin: 0;
  color: #003066;
  font-size: 0.9em;
}
.achievement a {
  color: #999;
  transition: color 0.15s ease;
}
.achievement a:hover {
  color: #0070f3;
}